{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <script src="{%static 'js/login.js'%}"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form action="login" method="POST">
            {%csrf_token%}
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button>login</button>

        </form>

        <div>
            {%for message in messages%}
            <h3>{{message}}</h3>
            {%endfor%}
        </div>
    </div>
</div>
</body>
</html>